server:
  port: 8100

spring:
  application:
    name: member-auth-service

  datasource:
    url: jdbc:mysql://db:3306/firstcome_system
    username: docker
    password: docker1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
      schema-locations: classpath:sql/prod/schema.sql
      data-locations: classpath:sql/prod/data.sql

  jackson:
    property-naming-strategy: SNAKE_CASE

  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 2000
    sql-migration-prefix: M

  mail:
    host: smtp.gmail.com
    port: 587
    username: "dummy@gmail.com"
    password: "dummypassword123"
    auth-code-expiration-millis: 1800000
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

eureka:
  instance:
    prefer-ip-address: true
    hostname: localhost

  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

security:
  public-urls:
    - "/api/v1/member/signup"
    - "/api/v1/auth/login"
    - "/api/v1/auth/logout`"
    - "/api/v1/member/internal/**"

encryption:
  key: "12345678901234567890123456789012" # 32바이트
  salt: "1234567890123456"                # 16바이트