spring:
  # mysql 세팅
  datasource:
    url: jdbc:mysql://db:3306/firstcome_system
    username: docker
    password: docker1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  # redis 세팅
  data:
    redis:
      host: cache
      port: 6379

  # jpa 세팅
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  # Json 매핑을 스네이크 케이스로 전역 설정
  jackson:
    property-naming-strategy: SNAKE_CASE

  devtools:
    restart:
      enabled: true

#Swagger 세팅
springdoc:
  api-docs:
    path: /api-docs
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  swagger-ui:
    operations-sorter: method
    tags-sorter: alpha
    path: /swagger
    disable-swagger-default-url: true
    doc-expansion: list